/*
 * Locally hosted SMBC webfonts from Adobe kit jlx1xai.
 * Font files are licensed for this internal SMBC application.
 */

@font-face {
  font-family: "myriad-pro";
  src: url("../../assets/fonts/myriad-pro-light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "myriad-pro";
  src: url("../../assets/fonts/myriad-pro-regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "myriad-pro";
  src: url("../../assets/fonts/myriad-pro-bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "capitolium-2";
  src: url("../../assets/fonts/capitolium-2-bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
